@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #E9F1F7;
    --foreground: 222.2 84% 4.9%;
    --content: #1B1B1E;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: #851ED1FF;
    --primary-foreground: #851ED1CC;

    --secondary: #046EF8FF; /* FF = 100% Opacity */
    --secondary-foreground: #046EF8CC;  /* CC = 80% Opacity, E6 = 90% Opacity */

    --destructive: #FC2E3FFF;
    --destructive-foreground: #FC2E3FCC;

    --aliceblue: #E9F1F7;
    --cream: #FFFFEA;
    --light: #FFFFFF;
    --dark: #1B1B1E;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: #1B1B1E; 
    --foreground: 210 40% 98%;
    --content: #E9F1F7;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply m-0 p-0 box-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  h1, h2, h3, h4, h5, h6 {
    @apply text-content;
  }
}
